<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>
    <nav>
        <a href="./index.html">Home</a>
        <a href="./menShoes.html">Men</a>
        <a href="./womenShoes.html">Women</a>
        <a href="./ourStory.html">Out story</a>
        <a href="./contactUs.html">Contact</a>
    </nav>

    <h1> Contact </h1>
    <form>
        <div class="information">
            <div class="infoBox">
                <img>
                <h1>Products and order</h1>
                <p>(+1) 123-456-7890
                    available 24/7</p> 
            </div>

            <div class="infoBox">
                <img>
                <h1>Info & enquiries</h1>
                <p>(+1) 123-456-7890
                    available 24/7</p> 
            </div>

            <div class="infoBox">
                <img>
                <h1>Store location</h1>
                <p>Bulgaria, General Toshevo</p> 
            </div>
        </div>
    </form> 
</body>
</html>