<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/contactUs.css">
</head>
<body>
    
    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>

    <nav>
        <div class="logo">
            <img src="../images/logo.png" style="width: 15vw;">
        </div>

        <div class="navElements">
            <a href="./index.html">Home</a>
            <a href="./menShoes.html">Men</a>
            <a href="./womenShoes.html">Women</a>
            <a href="./ourStory.html">Our story</a>
            <a href="./contactUs.html">Contact</a>
    </div>
    </nav>
    <div class="title">
        <h1> Contact </h1>
    </div>
    <div class="container">
        <div class="information">
            <div class="infoBox">
                <img>
                <h1>Products and order</h1>
                <p>(+1) 123-456-7890
                    available 24/7</p> 
            </div>

            <div class="infoBox">
                <img>
                <h1>Info & enquiries</h1>
                <p>(+1) 123-456-7890
                    available 24/7</p> 
            </div>

            <div class="infoBox">
                <img>
                <h1>Store location</h1>
                <p>Bulgaria, General Toshevo</p> 
            </div>
        </div>
        <form>
            <label>Name</label>
            <input>
            <label>Email</label>
            <input>
            <label>Comment or Message</label>
            <textarea></textarea>
            <div>
                <button>SEND</button>
            </div>
        </form> 


    </div>

    
    <div class="additionalInfo">
        <div class="info">
            <h1> 24/7 support </h1>
            <img src="../images/phoneIcon.png">
        </div>

        <div class="info">
            <h1> Dicounts for our loyal clients </h1>
            <img src="../images/listIcon.png">
        </div> 

        <div class="info">
            <h1> 30% chance for a free luch with every purchase!</h1>
            <img src="../images/fruitIcon.png">
        </div>
    </div>
</body>
</html>