<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" >
</head>
<body>
    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>

    <nav>
        <div class="logo">
            <img src="../images/logo.png" style="width: 15vw;">
        </div>

        <div class="navElements">
            <a href="./index.html">Home</a>
            <a href="./menShoes.html">Men</a>
            <a href="./womenShoes.html">Women</a>
            <a href="./ourStory.html">Out story</a>
            <a href="./contactUs.html">Contact</a>
    </div>
    </nav>

    <article>
        <h1> Love the planet we walk on</h1>
        <p> We are just a small buisiness providing the most quiality shoes at low prices</p>
        <a href="#">SHOP MEN</a>
        <a href="#">SHOP WOMEN</a>
    </article>
    <h1>Intial</h1> 
</body>
</html>