<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/shoes.css">
</head>
<body>

    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>

    <nav>
        <div class="logo">
            <img src="../images/logo.png" style="width: 15vw;">
        </div>

        <div class="navElements">
            <a href="./index.html">Home</a>
            <a href="./menShoes.html">Men</a>
            <a href="./womenShoes.html">Women</a>
            <a href="./ourStory.html">Our story</a>
            <a href="./contactUs.html">Contact</a>
    </div>
    </nav>


    <div class="container">
        <p class="showP"> Showing all 8 results</p>

         <select id="pet-select">
                <option value="">--Please choose an option--</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
        <div class="content">
            <h1> Men </h1>
            <div class="filter">
                <button>FILTER SHOES</button>
            </div>

           
            <div class="shoes">
                <div class="shoe">
                    <img src="../images/menShoes/model9.jpg">
                    <h1> Men's Black Running </h1>
                    <p>$68.99</p>
                </div>
    
                <div class="shoe">
                    <img src="../images/menShoes/model2.jpg">
                    <h1> Men's red Running </h1>
                    <p>$98.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/menShoes/model3.jpg">
                    <h1> Men's green Running </h1>
                    
                    <p>$51.99</p>
    
                </div>
    
                <div class="shoe">
    
                    <img src="../images/menShoes/model4.jpg">
                    <h1> Men's blue Running </h1>

                    <p>$79.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/menShoes/model5.jpg">
                    <h1>Men's Earth-Tone Sneaker</h1> 
                    <p>$71.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/menShoes/model6.jpg">
                    <h1>Men's Earth-Tone Sneaker</h1> 
                    <p>$99.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/menShoes/model7.jpg">
                    <h1>Men's Earth-Tone Sneaker</h1> 

                    <p>$51.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/menShoes/model8.jpg">
                    <h1>Men’s Moonstone Sneaker</h1> 
                    
                    <p>$88.99</p>
    
            </div>
    </div>
    </div>
    
</body>
</html>