<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Out story</a>
        <a href="#">Contact</a>
    </nav>

    <div class="container">
        <h1> Men </h1>
        <div class="shoe">
            <img src="../images/menShoes/model1.jpg">
            <h1>79.99$</h1>
        </div>

        <div class="shoe">
            <img src="../images/menShoes/model2.jpg">
            
            <h1>79.99$</h1>
        </div>

        <div class="shoe">
            <img src="../images/menShoes/model3.jpg">
            
            <h1>79.99$</h1>
        </div>

        <div class="shoe">
            <img src="../images/menShoes/model4.jpg">
            <h1>79.99$</h1>
        </div>

        <div class="shoe">
            <img src="../images/menShoes/model5.jpg">
            <h1>79.99$</h1>
        </div>

        <div class="shoe">
            <img src="../images/menShoes/model6.jpg">
            <h1>79.99$</h1>
        </div>

        <div class="shoe">
            <img src="../images/menShoes/model7.jpg">
            <h1>79.99$</h1>
        </div>

        <div class="shoe">
            <img src="../images/menShoes/model8.jpg">
            <h1>79.99$</h1>
        </div>
    </div>
    
</body>
</html>