<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" >
    <link rel="stylesheet" href="../styles/ourStory.css" >
</head>
<body>
    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>

    <nav>
        <div class="logo">
            <img src="../images/logo.png" style="width: 15vw;">
        </div>

        <div class="navElements">
            <a href="./index.html">Home</a>
            <a href="./menShoes.html">Men</a>
            <a href="./womenShoes.html">Women</a>
            <a href="./ourStory.html">Our story</a>
            <a href="./contactUs.html">Contact</a>
    </div>
    </nav>
    <div class="info">
        <h1> We are a small store that sell a bunch of cheap high quality shoes </h1>
    </div>
    <div class="images">

        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
        <img src="../images/shoeStore.png">
    </div>
</body>
</html>