<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    
    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>

    <nav>
        <a href="./index.html">Home</a>
        <a href="./menShoes.html">Men</a>
        <a href="./womenShoes.html">Women</a>
        <a href="./ourStory.html">Out story</a>
        <a href="./contactUs.html">Contact</a>
    </nav>

    <h1>Our story</h1>
    <p>Taking a stylish and sustainable footwear with a focus on creating a positive impact on both the world and the people</p>
    
    <img>

    <div class="pluses">
        <div class="plus">
            <img>
            <h1> Ethics and equality </h1>
            <p> Our shoes are made from the best affordable materials so you can except getting quality shoe even tho it's cheap!</p>
        </div>

        <div class="plus">
            <img>
            <h1> Eco-design </h1>
            <p> Our shoes are entirelly recyclable! We will pay you for returned shoes!</p>
        </div>

        <div class="plus">
            <img>
            <h1>Wildlife Preservation</h1>
            <p> Percent of our earnings is donated to organisations that help feeding homeless dogs and cats.</p> 
        </div>
    </div>
</body>
</html>