<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/shoes.css">
</head>
<body>

    <header>
        <h1>Free Express Shipping on all orders with all duties included</h1>
    </header>

    <nav>
        <div class="logo">
            <img src="../images/logo.png" style="width: 15vw;">
        </div>

        <div class="navElements">
            <a href="./index.html">Home</a>
            <a href="./menShoes.html">Men</a>
            <a href="./womenShoes.html">Women</a>
            <a href="./ourStory.html">Our story</a>
            <a href="./contactUs.html">Contact</a>
    </div>
    </nav>


    <div class="container">
        <select id="pet-select">
            <option value="">Default sorting</option>
            <option value="dog">Sort by popularity  </option>
            <option value="cat">Sort by avarage rating</option>
            <option value="hamster">Sort by latest</option>
            <option value="parrot">Sort by price low to high</option>
            <option value="spider">Sort by price high to low</option>
        </select>

        <p class="showP"> Showing all 8 results</p>

        <div class="content">
            <h1> Women </h1>
            <div class="filter">
                <button>FILTER SHOES</button>
            </div>

        
            <div class="shoes">
                <div class="shoe">
                    <img src="../images/womenShoes/model9.jpg">
                    <h1> Women's Black Running </h1>
                    <p>$68.99</p>
                </div>
    
                <div class="shoe">
                    <img src="../images/womenShoes/model2.jpg">
                    <h1> Women's red Running </h1>
                    <p>$98.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/womenShoes/model3.jpg">
                    <h1> Women's green Running </h1>
                    
                    <p>$51.99</p>
    
                </div>
    
                <div class="shoe">
    
                    <img src="../images/womenShoes/model4.jpg">
                    <h1> Women's blue Running </h1>

                    <p>$79.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/womenShoes/model5.jpg">
                    <h1>Women's Earth-Tone Sneaker</h1> 
                    <p>$71.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/womenShoes/model6.jpg">
                    <h1>Women's Earth-Tone Sneaker</h1> 
                    <p>$99.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/womenShoes/model7.jpg">
                    <h1>Women's Earth-Tone Sneaker</h1> 

                    <p>$51.99</p>
    
                </div>
    
                <div class="shoe">
                    <img src="../images/womenShoes/model8.jpg">
                    <h1>Women’s Moonstone Sneaker</h1> 
                    
                    <p>$88.99</p>
    
            </div>
    </div>
    </div>
    
</body>
</html>