
body {
    margin: 0;
}

header {
    background-color: rgba(196, 190, 190, 0.349);
    padding-top: 1vh;
    height: 2.8vh;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: calc(.4em + .4vw);
    margin-bottom: 1vh;
    position: absolute;
    left: 38%;
    top: 1%;
    color: rgb(134, 131, 131);
}

nav {
    margin-left: 5vw;
    margin-top: 2vh;
    position: relative;
    height: 10vh;
}

.logo {
    margin: 0;
    width: 15vw;
}

.logo img {
    position: absolute;
}

.navElements {
    margin-left: 19vw;
    margin-top: 1vh;
    position: absolute;
}

nav a {
    text-decoration: none;
    color: rgb(102, 101, 101);
    text-transform: uppercase;
    padding-right: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}